.horizontal {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid #e2e2e2;
}

.header {
  border-bottom: 1px solid #c4cad0;
  font-weight: bold;
}

.color_a6 {
  font-weight: bold;
}
